body{
    font-family: Courier New, monospace;
    background: url(bg.jpg);
}

.txtwrn{
    color: #C25A7C;
}

.text{
    color: #E5788F;
}
.txthdr{
    color: #E5788F;
}
#logo_img{
    width:35%;
    border-radius: 10%;
}
#textbox{
    width: 35%;
    height: 75px;
    background-color: lightpink;
}
.btn{
    background-color: #C25A7C;
    color: white;
    outline-style: none;
}
.text-2{
    color: #C12869;
}
#camera{
    height: 350px;
    width: 470px;
    background: url(camera-bg.jpg);
    border: 3px dashed #E5788F;
    border-radius: 8px;
  overflow: hidden;
}
.toptext{
    padding-top: 30px;
    padding-bottom: 30px;
}
#result{
  height: 350px;
  width: 470px;
  background: url(camera-bg.jpg);
  border: 3px dashed #E5788F;
  border-radius: 8px;
  overflow: hidden;
}
